<div style="position: fixed; top: 0; left: 0; width: 100%; z-index: 0;">
<img [src]="liveApi.currentLineImageUrl"
	     style="width: 100%; height: 16px; image-rendering: pixelated;"
	/>
	<img [src]="liveApi.historyImageUrl"
	     style="width: 100%; height: 512px; image-rendering: pixelated;"
	/>
</div>

<div style="position: absolute; top: 32px; width: 100%;">
	<div style="margin: auto; background: rgba(0,0,0,.75); width: 400px;">
		<div *ngFor="let segment of wledApi.currentStatus?.segments; trackBy: segmentIdFor">
			<wled-palette-editor [colors]="segment.selectedPalette?.pickerColors || [ null ]"
			                     (paletteChange)="segment.updateManualPaletteColors($event.wledColors)"
			                     *ngIf="segment.selectedPalette?.pickerColors?.length"
			></wled-palette-editor>

			<wled-palette-picker [paletteGroups]="segment.paletteGroups"
			                     [selectedPalette]="segment.selectedPalette"
			                     (selectedPaletteChange)="segment.selectPalette($event)"
			></wled-palette-picker>
		</div>
	</div>
</div>