<div style="min-height: 256px; display: grid; grid-template-columns: 1fr; grid-template-rows: 16px 1fr; justify-items: stretch;">
	<img [src]="liveApi.currentLineImageUrl"
	     style="height: 16px;"
	/>

	<img [src]="liveApi.historyImageUrl"
	     style="align-self: stretch"
	     #historyImage
	/>
</div>


<div>
	<div style="margin: auto; background: rgba(0,0,0,.65); width: 400px;">
		<div *ngFor="let segment of wledApi.currentStatus?.segments; trackBy: trackByIndex"
		     style="display: grid; grid-template-columns: 1fr; grid-row-gap: 8px; justify-content: center;"
		>
			<wled-effect-selector [selectedEffect]="segment.effectInfo?.apiModel"
			                      (effectSelected)="segment.selectEffect($event)"
			></wled-effect-selector>

			<ng-container *ngIf="segment.effectInfo; let effectInfo">
				<div>
					{{ effectInfo?.description }}
				</div>

				<!-- Speed Control -->
				<div *ngIf="effectInfo?.speedLabel">
					<h4 class="heading-4">{{ effectInfo?.speedLabel }}</h4>
					<input type="range"
					       [min]="0"
					       [max]="255"
					       [step]="1"
					       [value]="segment.effectSpeed"
					       (input)="segment.updateEffectSpeed(speedInput.value)"
					       #speedInput
					       style="width: 100%;"
					/>
				</div>

				<!-- Intensity Control -->
				<div *ngIf="effectInfo?.intensityLabel">
					<h4 class="heading-4">{{ effectInfo?.intensityLabel }}</h4>
					<input type="range"
					       [min]="0"
					       [max]="255"
					       [step]="1"
					       [value]="segment.effectIntensity"
					       (input)="segment.updateEffectIntensity(intensityInput.value)"
					       #intensityInput
					       style="width: 100%;"
					/>
				</div>

				<!-- Color Selectors -->
				<div *ngFor="let colorInfo of effectInfo?.colorInfos; trackBy: trackByIndex">
					<h4 class="heading-4">{{ colorInfo.label }}</h4>

					<wled-color-picker [color]="colorInfo.currentColor"
					                   (colorChange)="colorInfo.updateColor($event)"
					                   [displayInline]="false"
					></wled-color-picker>

					<wled-palette-picker [segment]="segment"
					                     [selectedPalette]="segment.selectedPalette"
					                     (selectedPaletteChange)="segment.selectPalette($event)"
					                     [allowCustomPalettes]="false"
					                     *ngIf="colorInfo.isPaletteDefault"
					></wled-palette-picker>
				</div>


				<!-- Palette Selector -->
				<div *ngIf="effectInfo?.paletteInfo; let paletteInfo">
					<h4 class="heading-4">{{ paletteInfo.label }}</h4>

					<wled-palette-picker [segment]="segment"
					                     [allowCustomPalettes]="paletteInfo.allowCustomColors"
					                     [selectedPalette]="segment.selectedPalette"
					                     (selectedPaletteChange)="segment.selectPalette($event)"
					></wled-palette-picker>
				</div>
			</ng-container>
		</div>
	</div>
</div>

