<div class="palGroups">
	<div *ngFor="let palGroup of paletteGroups; trackBy: groupIdFor"
	     style="padding-bottom: 32px"
	     class="palGroups-x-group"
	>
		<h4 class="palGroups-x-group-x-name">{{ palGroup.name }}</h4>

		<div *ngFor="let pal of palGroup.palettes; let index=index; trackBy: palIdFor"
		     [style.background]="pal.cssGradient"
		     (click)="selectPalette(pal)"
		     class="palGroups-x-group-x-pal"
		     [class.palGroups-x-group-x-pal-is-selected]="selectedPalette == pal"
		>
			{{ pal.name }}
		</div>
	</div>
</div>